.mainbody{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

header{
    /* border: 5px black solid; */
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.headerleft2{
    /* border: 1px black solid; */
    width: 10vw;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    font-weight: bold;    
}

.headercenter{
    /* border: 1px black solid; */
    color: white;
    font-size: 17px;
    padding-right: 90px;
}

.headerright2{
    /* border: 1px black solid; */
    color: white; 
    font-size: 17px;
    /* ----------------------------------------------------Header */
}
.the61{
    height: 6vh;
    width: 100vw;
    background-color: #F2F2F2
}
.lowerhalf3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    height: 94vh;
    width: 100vw;

}
.middlewhitebox3{
    /* border: 1px solid #adff2f; */
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    height: 90%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.5), 5px 5px 2px 0 rgba(0,0,0,0.3);
    margin: 20px;
    justify-content: 


}


/*-----------------------------------------------lower part*/
lowertop3{
    /* border: 1px #ff00bf solid; */
    width: 100%;  
    height: 10%;  

}
midbottom3{
    /* border: 1px #ff0000 solid; */
    width: 100%;  
    height: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

lowerbottom3{
    width: 45%;    
    /* border: 1px #ffbb00 solid; */
    height: 7%;
    margin: 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 75px;
}
selected:before{
    content: "Page: ";
}
lowerbottom3 p{
    border: 10px #ffbb00 solid;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.searchbutton{
    width: 5vw;
    height: 2vw;
    margin: 5px;
    background-color: #F5F3F2;
    border-radius: 30px;
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    border: solid 1px #ccc3c3;
    color: white;
}
.resetbutton{
    width: 5vw;
    height: 2vw;
    margin: 5px;
    background-color: #545251;
    border-radius: 30px;
    background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    border: solid 1px #ccc3c3;
}
.selectbox{
    margin: 20px;
    background-color: #737373;
    color: white;
}



.biginfobox{
    display: flex;
    height: 10vh;
    width: 48%;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 3px 3px 4px 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0), 0 4px 6px 0 rgba(0,0,0,0.2);
}
.infoboxleft{
    /* border: 1px solid black; */
    width: 35%;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.infoboxleft1{
    border: 2px solid #ff9770;
    height: 96%;
    width: 100%;
}

.infoboxcenter{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
    line-height: 0px;
    max-height: 100%;
    position: relative;
    overflow: auto;
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
}
.addfriend{
    background-color: #ff9770;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 85%;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0), 0 4px 6px 0 rgba(0,0,0,0.2);
    color: white;
    margin: 13px
    
}
.removefriend{
    background-color: #5B5A59;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 85%;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0), 0 4px 6px 0 rgba(0,0,0,0.2);
    color: white;
    margin: 13px
    
}
.infoboxleftt{
    /* border: 2px solid green; */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagebar{
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0), 0 6px 6px 0 rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.current{
    height: 40%;
    width: 3%;
    border: 2px solid black;
    display: flex;
    background-color: white;
    color: black;
    display: flex;
    padding-left: 10px;   
}
.current1{
    display: flex;
    padding-right: 30px;
    height: 100%;
    width: 100%;    
}

.current:hover{
    background-color: black;
    color: white;
    height: 40%;
    width: 8%;
    display: flex;
    justify-content: flex-start;
    border-color: white;
    text-decoration-color: white;
    padding-right: 10px;
}
.current1:hover:before{
    content: "Page- ";
    color: white;
    
}
pagebar .text:hover{
    visibility: visible;
    display: flex;
}
pagebar .text{
    visibility: hidden;
    color: blue;
    display: flex;
}